body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1, h2 {
    color: #222;
}

.navbar {
    padding: 1rem;
    background-color: #004085; /* Updated navbar background color */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important; /* Updated navbar text color */
}

.navbar-nav .nav-link:hover {
    color: #f1f1f1 !important; /* Updated navbar hover color */
}

.card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #004085; /* Updated footer background color */
    color: #ffffff; /* Updated footer text color */
    font-size: 0.9rem;
    padding: 20px;
    text-align: center;
}

/* Custom Project Card Styles */
#projects {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#projects h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004085;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-card .card-body {
    padding: 25px;
}

.project-card .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343a40;
}

.project-card .card-text {
    font-size: 1rem;
    color: #6c757d;
}

.project-card button {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card button:hover {
    background-color: #004085;
    color: white;
}

.project-card ul {
    list-style: none;
    padding-left: 0;
    color: #495057;
}

.project-card ul li {
    margin-bottom: 10px;
}

.project-card .collapse {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    #projects h2 {
        font-size: 2rem;
    }
}
